:root {
    --black: #292f36;
    --dark: #3a454d;
    --white: #eeeeee;
    --gray: #8d8f92;
    --green: #23b7a4;
    --gray-light: #e1e6ea;
  }

html{
    scroll-behavior: smooth;
}
a, a:hover, a:active {
    text-decoration: none;
}
body {
    margin: 0px;
}
.header{
    background-color: var(--black);
    display: none;
    padding: 0px 0px;
    justify-content: space-around;
    transition: all 0.5s;


}

.white-header{
    background-color: var(--white);
}

.header__nav{
    padding: 15px 0px;

}


.header__logo{
    display: flex;
    top:50%;
}
.main-c{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-c__img{
    object-fit: cover;
    opacity: 0;
}

.item{
    background: var(--dark);
}


.main-c__c{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: var(--white);


}
.main-c__title {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans';
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: 700;
}

.main-c__text{
    font-family: "Open Sans";
    font-size: 16px;
    padding-bottom: 20px;
}



.carousel-indicators{
    display:none;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
    max-width: unset;
    overflow: hidden;
    object-fit: cover;
}

.c-card{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 40px;
}
.c-card--black{
    background-color: var(--dark);
}
.c-card__title{
    text-transform: uppercase;
    font-family: 'Quattrocento Sans';
    font-size: 36px;
    font-weight: 700;
    padding-left: 15px;

    color: var(--black);
    border-left: 8px solid var(--gray-light);

}
.c-card__title--white{
    color:var(--white);
}
.about-text{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.c-card__text{
    font-family: "Open Sans";
    font-size: 16px;
    margin: 10px 0px;
    color: var(--gray);

}
.c-card__text--s{
    font-size:14px;
}

.c-card__text--white{
    color: var(--white);
}

.c-card__subtitle {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans';
    font-size:18px;
    font-weight: 700;
    transition: color 0.3s ease-in;
}

.c-card__subtitle--s{
    font-size: 16px;
}

.c-card__subtitle--xs{
    font-size: 14px;
}

.c-card__subtitle--L{
    font-size: 20px;
}
.c-card__subtitle--white{
    color:var(--white);
}
.about-grid{
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.c-card__list{
    margin:10px 0px;
}
.c-card__list ol{
    position: relative;
    list-style: none;
    counter-reset: item;
}

.c-card__list li {
    counter-increment: item;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.c-card__list li:before {
    position: absolute;
    left:-8px;
    padding: 10px 15px;
    content: counter(item);
    background: var(--green);
    color: white;
    text-align: center;
    display: inline-block;
  }

.header__nav{
    font-family: "Open Sans"
}
.main-c__buttons{
    font-family: 'Quattrocento Sans';
    margin-top: 20px;
}
.icon-grid{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.fa {
    background: #c8cdd0;
    text-decoration: none;
    color: #fff;
    width: 60px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-right: 5px;
}
.fa:hover{
    opacity: 0.7;
    text-decoration: none;
    color: #fff;
}

.workers-grid,
.workers-grid__c,
.workers-grid__header,
.work-grid,
.work-grid__c,
.services-grid,
.services-grid__c,
.features-grid,
.features-grid__c,
.contact-grid,
.contact-grid__c,
.contact-c,
.form-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 500px;

}
.services-grid__c,
.workers-grid__c,
.workers-grid,
.features-grid,
.features-grid__c,
.work-grid,
.work-grid__c{
    margin-top: 20px;
}


.workers__icon-grid{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in,
                visibility 0.3s;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}
.workers__icon-grid .fa{
    background-color: var(--dark);
    padding: 10px;
    width: 40px;
    margin: 2px;
}

.workers__icon-grid .fa:hover {
    opacity: 1;
    background-color: var(--gray);
}
.workers-grid__image {
    position: relative;
    display: flex;

}
.workers-grid__image img{
    object-fit: fill;
    width: 100%;

}

.workers-grid__header{
    transition: background-color 0.3s ease-in;
    background-color: var(--gray-light);
    padding: 20px;
    margin-top:0px;
}



.workers-grid__header .c-card__text{
    margin:0px;
    padding: 0px;
    color: var(--gray);
    transition: color 0.3s ease-in;
}

.workers-grid__c:hover .workers__icon-grid{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease-in;
}
.workers-grid__c:hover .workers-grid__header {
    background-color: var(--dark);
    transition: background-color 0.3s ease-in;

}
.workers-grid__c:hover .c-card__text{
    color: var(--white);
    transition: color 0.3s ease-in;
}
.workers-grid__c:hover .c-card__subtitle{
    color: var(--white);
    transition: color 0.3s ease-in;
}

.workers-grid__c:hover .workers-grid__image img{
    opacity: 0.7;

}

.work-grid__image {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    position: relative;
    width: 100%;
    height: 100%;
}
.work-grid__c .c-card__subtitle{
    opacity: 0;
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    padding: 15px 0px;
    bottom: 0px;
    width: 100%;
    transition: opacity 0.3s ease-out;
}
.fa-plus{
    font-size:20px;
    font-weight: 100;
    opacity: 0;
    position: absolute;
    background: none;
    top:42%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-out;
}
.work-grid__c .c-card__subtitle span{
    margin-left: 20px;
}

.work-grid__c:hover .c-card__subtitle{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.work-grid__c:hover .work-grid__image{
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
}


.work-grid__c:hover .fa-plus{
    opacity: 0.7;
    transition: opacity 0.3s ease-in;
}

#work {
    padding-bottom: 110px;
}
.c-card .ghost-button{
    position: absolute;
    top: 97%;

}


.services-grid__c{
    text-align: center;
}
.services-grid__c div{
    margin: 10px;
}


.features-grid__image{
    position: relative;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    padding-bottom: 20px;
    object-fit: cover;
}
.features-grid__c> .c-card__text{
    margin:15px 0px;
}

.features-grid__c:hover .features-grid__image{
    opacity: 0.7;
    transition: opacity 0.3s ease-in;

}
.features-grid__c:hover .c-card__subtitle{
text-decoration: underline;
}

.form-grid{
    color: var(--gray);
}
.form-grid__input {
    background-color: #eaeef1;
    border: none;
    resize: none;
    border-radius: 5px;
    min-height: 25px;
    margin-bottom: 15px;
    padding: 5px;
}

.form-grid__message{
    min-height: 50px ;
    height: 100px;

}

.submit-button-c{
    padding-top: 40px;
    margin: 0px 10px;

}
.name, .email{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    height: 65px;
}
.message {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}

.ghost-button {
    font-family: "Quattrocento Sans";
    text-transform: uppercase;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	font-size: 14px;
    font-weight: 700;
	padding: 10px;
	color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out,
                border 0.3s ease-out;
  }

  .ghost-button:hover,
  .ghost-button:active {
    background-color: var(--green);
    border: 2px solid var(--green);
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease-in,
                border 0.3s ease-in;

  }

  .ghost-button--green{
      background-color: var(--green);
  }



  .ghost-button--s {
        font-family: "Open Sans";
        width: 125px;
        padding:5px;
        border: 1px solid rgb(255, 255, 255);
        border: 1px solid rgba(255, 255, 255, 0);
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        border-radius: 7px;
        text-align: center;
        outline: none;
        text-decoration: none;
        transition: background-color 0.2s ease-out,
                    border 0.3s ease-out;

  }
  .ghost-button--s:hover,
  .ghost-button--s:active {
    background-color: none;
    border: 1px solid #fff;
    color: #fff;
    transition: background-color 0.3s ease-in,
                border 0.3s ease-in;
				text-decoration: none;
  }

  .ghost-button-home{
      color: var(--green);
      border: 1px solid var(--green);
      transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
  }

  .ghost-button-home:hover,
  .ghost-button-home:active
   {
      text-decoration: none;
      color: #fff;
      background-color: var(--green);
      border: 1px solid var(--green);
      transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
  }

  .main-c__buttons .ghost-button {
      margin-right: 5px;
  }
  .map{
      overflow: hidden;
      object-fit: cover;
      display: flex;
      height: 30vh;
    width: 99.5vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.footer__icon-grid{
    margin:0px;
}
.footer__icon-grid .fa{
    background-color: var(--dark);
    padding: 10px;
    width: 40px;
    margin: 2px;
}

.footer__icon-grid .fa:hover {
    opacity: 1;
    background-color: var(--gray);
}

.footer{
    padding: 10px;
}

#about{
    border: 1px solid var(--gray-light);

}








  @media (min-width: 768px) {
    .workers-grid,
    .work-grid,
    .services-grid{
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 40px;
        max-width: unset;
    }

    .features-grid{
        display: grid;
        grid-template-columns: auto;
        max-width: unset;
    }

    .services-grid{
        gap: 40px;
    }
    .contact-grid, .features-grid__c, .contact-c, .form-grid{

        max-width: unset;
    }

    .workers-grid__c, .work-grid__c{
        margin: 10px 10px;
    }
    .header{
        display: flex;
        position: fixed;
        z-index: 999;
        width: 100%;
    }

    .c-card{
        padding: 40px 80px;

    }

    .c-card__title{
        align-items: start;
    }

    .c-card .ghost-button{
        top: 94%;
    }
    .c-card__c{
        width: 65vw;
    }


.footer{
    padding: 10px 80px;
}
  }







  @media (min-width: 960px){
    .carousel-indicators{
        display:unset;
    }
    .about-grid{
        position: relative;
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: 40px;
    }

    .features-grid
    {
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 40px;
        max-width: unset;
    }
    .workers-grid{
        justify-content: space-between;
    }
    .services-grid{
        gap: 40px;
    }

    .features-grid__c{
        margin: 10px 10px;
    }


    .c-card{
        padding: 60px 10%;
        align-items: center;

    }



    .main-c__c{
        width: 38%;
        align-items: flex-start;
        text-align: start;
        left: 40%;
    }
    .carousel-indicators{
        text-align: right;
    }

    .main-c__img{
        opacity: 1;
    }

    .contact-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: unset;
    }
    .map {
        grid-column-start: 1;
        grid-column-end:   3;
    }
    .contact-c {
        display: flex;
        flex-direction: column;
    }
    .form-grid{
        position: absolute;
        right:0%;
        top:40%;
        width: 50%;
        height: 60%;
        background-color: #fff;
        padding: 20px;
    }
    .submit-button-c{
        padding: 0;
    }
    .submit-button-c .ghost-button{
        top:unset;
        position: relative;
        left: unset;
        transform: unset;
    }

    .footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    padding: 10px 10%;
}


  }

  @media (min-width: 1280px) {
    .services-grid{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 20px;
    }
    .workers-grid{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 20px;
        max-width: unset;
    }

    .work-grid{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 40px;
        max-width: unset;

    }

    .form-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;

    }

    .name, .email{
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
        height: 65px;
    }
    .message {
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end:   3;


    }
    .form-grid__message{
        min-height: 50px ;
        height: 100%;

    }
    .submit-button-c{
        margin: 0px 10px;
    }
    .footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    padding: 10px 15%;
}
    #contact{
        margin-bottom: 20px;
    }




  }
